.testimonial-detail-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-detail-page>* {
  margin-bottom: 24px;
}


.detail-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.detail-title {
  color: #241D16;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Literata;
  font-size: 61px;
  font-style: normal;
  font-weight: 300;
  line-height: 69px;
  letter-spacing: -0.7px;
  margin: 24px 0;
}

.navigation-buttons {
  display: flex;
  gap: 16px;
}

.detail-button {
  top: 0;
  border: 1px solid #241D16;
  color: #241D16;
  font-family: Satoshi;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

.detail-description {
  display: flex;
  align-items: center;
  color: #241D16;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;

  /* Body/M */
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.detail-link-container {
  height: 24px;
  display: flex;
}

.detail-link {
  text-decoration: none;
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

.retainer-testimonial-container {
  display: flex;
  border: 1px solid #241D16;
  width: 75%;
}

.detail-retainer-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #241D16;
  padding: 32px;
  position: relative;
  flex: 1;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.icon-text-container {
  display: flex;
  align-items: center;
}

.detail-contribution {
  line-height: 24px;
  margin-left: 4px;
}

.detail-retainer-container>*:not(:last-child) {
  margin-bottom: 8px;
}

.fa-calendar,
.fa-people-group,
.fa-pen-line,
.fa-star {
  text-align: center;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  padding: 4px;
}

.detail-testimonial-container {
  padding: 29px 32px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.detail-author-pic-container {
  display: flex;
  margin-top: 16px;
}

.detail-author-container {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.testimonial-detail-right {
  position: absolute;
  right: 0;
  top: 450px;
}

.testimonial-detail-left {
  position: absolute;
  top: 275px;
  left: 0;
}

.detail-testimonial {
  color: #241D16;
  /* H3 */
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
}

.detail-author-name {
  color: #241D16;
  /* Body/M */
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.detail-author-title {
  font-family: Satoshi;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

@media (max-width: 1023px) {
  .retainer-testimonial-container {
    flex-direction: column;
    width: 100%;
    border-right: 0px;
    border-left: 0px;
  }

  .detail-retainer-container {
    border-bottom: 1px solid #241D16;
    border-right: 0px;
    padding: 24px;
  }

  .detail-testimonial-container {
    padding: 24px;
  }
}
