.about-container {
  display: flex;
  flex-direction: column;
  color: white;
  background: lightgray linear-gradient(155deg, #241D16 67%, rgba(36, 29, 22, 0.00) 175.32%) 50% / cover no-repeat;
  padding: 56px 80px;
  margin: 40px 80px;
  align-items: center;
}

.about-title {
  font-family: Literata;
  font-size: 39px;
  font-style: normal;
  font-weight: 300;
  line-height: 47px;
  letter-spacing: -0.2px;
  margin-bottom: 48px;
  text-align: center;
}

.about-title>span {
  color: #FFDC41;
}

.reasons-container {
  display: flex;
  align-items: flex-start;
}

.reason-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.reason-title {
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 12px;
  text-align: center;
}

.reason-description {
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

@media (max-width: 1439px) {
  .about-title {
    margin-bottom: 32px;
  }
}

@media (max-width: 1023px) {
  .about-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .about-container {
    padding: 64px 40px;
    margin: 40px
  }

  .reason-title {
    margin-bottom: 8px;
  }

  .reason-description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 681px) and (max-width: 1023px) {
  .about-container {
    padding: 64px 24px;
    margin: 0px;
  }

  .reasons-container>*:not(:last-child) {
    margin-right: 32px;
  }

  .reason-title {
    font-size: 16px;
    line-height: 24px;
  }

  .reason-description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 481px) and (max-width: 680px) {
  .about-container {
    padding: 64px 40px;
    margin: 0px;
  }

  .reasons-container>*:not(:last-child) {
    margin-right: 16px;
  }

  .reason-title {
    font-size: 16px;
    line-height: 24px;
  }

  .reason-description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 480px) {
  .about-container {
    padding: 64px 16px;
    margin: 0px;
  }

  .reasons-container {
    flex-direction: column;
  }

  .reasons-container>*:not(:last-child) {
    margin-bottom: 32px;
  }

  .reason-title {
    font-size: 16px;
    line-height: 24px;
  }

  .reason-description {
    font-size: 16px;
    line-height: 24px;
  }
}
