.structure-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.structure-bottom-dots {
  position: absolute;
  bottom: 0;
  right: 0;
}

.structure-top-dots {
  position: absolute;
  right: 0
}

.structure-title {
  font-family: Literata;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 61px;
  line-height: 69px;
  letter-spacing: -0.7px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.project-trial-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-trial-button-container>* {
  margin-bottom: 24px;
}

.retainer-box {
  width: 75%;
  color: white;
  padding: 40px 32px;
  background: lightgray linear-gradient(155deg, #241D16 67%, rgba(36, 29, 22, 0.00) 175.32%) 50% / cover no-repeat;
}

.retainer-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.retainer-title {
  font-family: Literata;
  font-size: 39px;
  font-style: normal;
  font-weight: 300;
  line-height: 47px;
  letter-spacing: -0.2px;
}

.retainer-title-button-container {
  display: flex;
}

.retainer-title-button-container>*:not(:last-child) {
  margin-right: 4px;
}

.retainer-title-button {
  font-family: Satoshi;
  padding: 8px 12px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(0, 0, 0, 0.25);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}


.retainer-description-1 {
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: 30px;
  margin: 24px 0;
}

.retainer-description-2 {
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: 30px;
}

.project-trial-container {
  display: flex;
  width: 75%;
}

.single-project-box,
.trial-box {
  flex: 1;
  padding: 32px;
  border: 1px solid #241D16;
  color: #241D16;
  font-family: Satoshi;
}

.single-project-box {
  border-right: none;
}

.single-project-title-container,
.trial-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-project-title-button-container,
.trial-title-button-container {
  display: flex;
}

.single-project-title-button-container>*:not(:last-child),
.trial-title-button-container>*:not(:last-child) {
  margin-right: 4px;
}


.single-project-box>*:not(:last-child),
.trial-box>*:not(:last-child) {
  margin-bottom: 24px;
}

.single-project-title-button,
.trial-title-button {
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(0, 0, 0, 0.25);
  padding: 8px 12px;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}

.trial-title-button-container>*:not(:last-child),
.single-project-title-button-container>*:not(:last-child) {
  margin-right: 4px;
}

.single-project-title,
.trial-title {
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.single-project-description-1,
.single-project-description-2,
.single-project-description-3,
.trial-description-1,
.trial-description-2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.85;
}

.structure-button-container {
  display: flex;
  justify-content: center;
}

.structure-button {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: var(--Off-Black, #241D16);
  padding: 16px 24px;
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: white;
  text-decoration: none;
  position: relative;
}

@media (max-width: 480px) {
  .structure-page {
    align-items: flex-start;
  }

  .structure-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 16px;
  }

  .retainer-title-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .retainer-box,
  .project-trial-container {
    width: 100%;
  }

  .project-trial-container {
    flex-direction: column;
  }

  .single-project-box,
  .trial-box {
    border: none;
  }

  .single-project-box {
    border-bottom: 1px solid #241D16;
  }

  .single-project-title-container,
  .trial-title-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .structure-page,
  .retainer-title,
  .retainer-description-1,
  .single-project-title,
  .single-project-description-1,
  .single-project-description-2,
  .single-project-description-3,
  .trial-title,
  .trial-description-1,
  .trial-description-2 {
    font-size: 16px;
    line-height: 24px;
  }

  .structure-button {
    font-size: 16px;
    line-height: 11px;
  }

  .retainer-box,
  .single-project-box,
  .trial-box {
    padding: 32px 16px;
  }

  .retainer-title-button,
  .single-project-title-button,
  .trial-title-button {
    padding: 4px 8px;
  }

  .project-trial-button-container>* {
    margin-bottom: 0px;
  }

  .structure-button-container {
    width: 100%;
    padding: 16px;
  }

  .structure-button {
    width: 100%;
    text-align: center;
  }

  .retainer-title-container>*:not(:last-child),
  .single-project-title-container>*:not(:last-child),
  .trial-title-container>*:not(:last-child) {
    margin-bottom: 16px;
  }

  .retainer-description-1 {
    margin: 16px 0;
  }

  .retainer-description-2 {
    font-size: 13px;
    line-height: 19px;
  }

  .single-project-box>*:not(:last-child),
  .trial-box>*:not(:last-child) {
    margin-bottom: 16px;
  }

  .trial-box {
    border-bottom: 1px solid #241D16;
  }
}

@media (min-width: 481px) and (max-width: 1023px) {

  .retainer-box,
  .project-trial-container {
    width: 100%;
  }

  .project-trial-container {
    flex-direction: column;
  }

  .project-trial-button-container>* {
    margin-bottom: 0px;
  }

  .project-trial-button-container>*:last-child {
    margin: 24px;
  }

  .single-project-box,
  .trial-box {
    border: none;
  }

  .single-project-box {
    border-bottom: 1px solid #241D16;
  }

  .retainer-title-container {
    align-items: center;
  }

  .retainer-title {
    font-family: Literata;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .retainer-description-1 {
    font-family: Literata;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 16px 0;
  }

  .retainer-description-2 {
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .single-project-title,
  .trial-title {
    font-family: Literata;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .single-project-box>*:not(:last-child),
  .trial-box>*:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media (min-width: 481px) and (max-width: 1439px) {
  .structure-title {
    font-size: 39px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: -0.2px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .structure-title {
    padding-top: 16.5px;
    padding-bottom: 16.5px;
  }
}

@media (min-width: 481px) and (max-width: 680px) {
  .structure-title {
    max-width: 321px;
  }
}

@media (max-width: 1023px) {
  .structure-top-dots {
    display: none;
  }
}

@media (max-width: 480px) {
  .structure-bottom-dots {
    display: none;
  }
}