.structure-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.structure-title {
  margin-top: 85.5px;
  font-family: Literata;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 61px;
}

.project-trial-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-trial-button-container>* {
  margin-bottom: 24px;
}

.retainer-box {
  width: 75%;
  color: white;
  padding: 40px 32px;
  background: lightgray linear-gradient(155deg, #241D16 67%, rgba(36, 29, 22, 0.00) 175.32%) 50% / cover no-repeat;
}

.retainer-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.retainer-title {
  font-family: Literata;
  font-size: 39px;
  font-style: normal;
  font-weight: 300;
}

.retainer-title-button-container {
  display: flex;
}

.retainer-title-button-container>*:not(:last-child) {
  margin-right: 4px;
}

.retainer-title-button {
  font-family: Satoshi;
  padding: 8px 12px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(0, 0, 0, 0.25);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}


.retainer-description-1 {
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: 30px;
  margin: 24px 0;
}

.retainer-description-2 {
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: 30px;
}

.project-trial-container {
  display: flex;
  width: 75%;
}

.single-project-box,
.trial-box {
  flex: 1;
  padding: 32px;
  border: 1px solid #241D16;
  color: #241D16;
  font-family: Satoshi;
}

.single-project-box {
  border-right: none;
}

.single-project-title-container,
.trial-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-project-title-button-container,
.trial-title-button-container {
  display: flex;
}

.single-project-title-button-container>*:not(:last-child),
.trial-title-button-container>*:not(:last-child) {
  margin-right: 4px;
}


.single-project-box>*:not(:last-child),
.trial-box>*:not(:last-child) {
  margin-bottom: 24px;
}

.single-project-title-button,
.trial-title-button {
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: rgba(0, 0, 0, 0.25);
  padding: 8px 12px;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}

.trial-title-button-container>*:not(:last-child),
.single-project-title-button-container>*:not(:last-child) {
  margin-right: 4px;
}

.single-project-title,
.trial-title {
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.structure-button-container {
  display: flex;
  justify-content: center;
}

.structure-button {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: var(--Off-Black, #241D16);
  padding: 16px 24px;
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 528;
  line-height: 30px;
  color: white;
  text-decoration: none;
  position: relative;
}

@media (max-width: 480px) {
  .structure-page {
    align-items: flex-start;
  }

  .structure-title {
    font-size: 20px;
  }

  .retainer-title-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .retainer-box,
  .project-trial-container {
    width: 100%;
  }

  .project-trial-container {
    flex-direction: column;
  }

  .single-project-box,
  .trial-box {
    border: none;
  }

  .single-project-box {
    border-bottom: 1px solid #241D16;
  }

  .single-project-title-container,
  .trial-title-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .structure-page,
  .retainer-title,
  .retainer-description-1,
  .single-project-title,
  .single-project-description-1,
  .single-project-description-2,
  .single-project-description-3,
  .trial-title,
  .trial-description-1,
  .trial-description-2,
  .structure-button {
    font-size: 16px;
  }
}