.get-started-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/hero-background.png);
}

.get-started-title {
  margin-bottom: 48px;
  font-family: Literata;
  font-size: 39px;
  font-style: normal;
  font-weight: 300;
  line-height: 47px;
  letter-spacing: -0.2px;
}

.steps-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 48px;
}

.step-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.step-title {
  text-align: center;
  margin-bottom: 16px;
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px
}

.step-description {
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.85;
}

.step-description>a {
  color: #FFDC41;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .get-started-container {
    padding: 48px 40px;
  }
}

@media (max-width: 1023px) {
  .get-started-title {
    font-size: 20px;
    line-height: 14px;
    letter-spacing: 0px;
  }

  .step-title {
    font-size: 16px;
    line-height: 11px;
    margin-bottom: 8px;
  }
}

@media (min-width: 681px) and (max-width: 1439px) {
  .get-started-title {
    margin-bottom: 40px;
  }

  .steps-container {
    gap: 32px;
  }
}

@media (min-width: 681px) and (max-width: 1023px) {
  .get-started-container {
    padding: 48px 24px;
  }

  .step-description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 680px) {
  .get-started-container {
    padding: 32px 16px;
  }

  .get-started-title {
    margin-bottom: 32px;
  }

  .steps-container {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .step-description {
    font-size: 13px;
    line-height: 19px;
  }

  .steps-container>*:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media (max-width: 480px) {
  .step-container {
    align-items: center;
  }

  .step-title {
    text-align: center;
  }

  .step-description {
    font-size: 13px;
    text-align: center;
  }
}