.testimonials {
  padding: 40px 80px;
  display: flex;
  position: relative;
}

.testimonials-circle {
  position: absolute;
  right: 0;
  top: 0;
}

.testimonials>*:not(:last-child) {
  margin-bottom: 24px;
}

.recent-work {
  padding: 16px 24px;
  border: 1px solid #241D16;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-work:hover {
  opacity: 0.5;
}

.recent-work {
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 528;
  line-height: 14px;
  color: #241D16;
  text-decoration: none;
}

.tv-icon {
  margin-right: 8px;
  min-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-card {
  position: relative;
  padding: 40px 32px;
}

.testimonial-card>*:not(:last-child) {
  margin-bottom: 24px;
}

.testimonial {
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.sub-testimonial {
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.85;
}

.sector {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.10);
  font-family: Satoshi;
  font-size: 13px;
  line-height: 19px; 
}

.company-icon {
  margin-right: 2px;
}

.author-arrow-container {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
}

.author-profile {
  margin-right: 8px;
}

.author-info {
  display: flex;
  align-items: center;
}

.author-text {
  display: flex;
  flex-direction: column;
}

.author {
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.company-title {
  font-family: Satoshi;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.group {
  flex: 1;
}

.testimonials>.group:not(:last-child) {
  margin-right: 24px;
}

.group>*:not(:last-child) {
  margin-bottom: 24px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .testimonials {
    padding: 24px 40px;
  }
}

@media (min-width: 681px) and (max-width: 1023px) {
  .recent-work {
    width: 50%;
    margin: 24px auto;
  }

  .testimonials {
    padding: 24px;
    padding-top: 0px;
  }
}

@media (max-width: 680px) {
  .testimonials {
    padding: 24px 0;
    flex-direction: column;
  }

  .testimonials>*:not(:last-child) {
    margin-bottom: 16px;
  }

  .testimonials>.testimonial-card:not(:last-child) {
    margin-right: 0;
  }

  .group>*:not(:last-child) {
    margin-bottom: 16px;
  }

  .recent-work {
    margin-right: 10px;
    margin-left: 10px;
  }
}