.recent-work {
  padding: 16px 24px;
  border: 1px solid #241D16;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-work a {
  margin-left: 8px;
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 528;
  line-height: 30px;
  color: #241D16;
}

.testimonial-card {
  padding: 40px 32px;
}