a.page-link {
  color: #181D20;
  text-decoration: none;
  position: relative;
}

a.page-link:not(:first-child) {
  margin-left: 16px;
}

a.page-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #181D20;
  bottom: 0;
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
}

a.page-link:hover::after,
a.page-link.active::after {
  width: 100%;
  left: 0;
}

@media (max-width: 1439px) {
  nav a.page-link:not(:first-child) {
    margin-left: 24px;
  }
}