.profile-header {
  display: flex;
  padding: 160px 0;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.profile-header h1 {
  font-family: Literata;
  font-size: 61px;
  font-style: normal;
  font-weight: 300;
  line-height: 69px;
  letter-spacing: -0.7px;
  margin-bottom: 24px;
  width: 50%;
  text-align: center;
}

.profile-header p {
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 24px;
  text-align: center;
}

.profile-header a {
  padding: 16px 24px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #241D16;
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: white;
  text-decoration: none;
}

.line {
  position: absolute;
  top: 78px;
  left: 0;
}

.profile {
  position: absolute;
  right: 0;
  top: 123px;
  width: 160px;
}

.profile-header-xl-dots,
.profile-header-l-dots {
  position: absolute;
  left: 0;
  top: 400px;
  z-index: -1;
}

@media (max-width: 1439px) {
  .profile-header h1 {
    font-size: 39px;
    line-height: 47px;
    letter-spacing: -0.2px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .profile-header {
    padding-top: 120px;
  }

  .profile-header p {
    font-size: 16px;
    line-height: 24px;
  }

  .profile {
    top: 40px;
  }
}

@media (min-width: 681px) and (max-width: 1439px) {
  .line {
    top: 120px;
  }
}

@media (max-width: 1023px) {
  .profile {
    position: unset;
  }
}

@media (min-width: 681px) and (max-width: 1023px) {
  .profile-header {
    padding: 40px 16px;
  }

  .profile-header h1 {
    width: 100%;
  }

  .profile-header p {
    font-size: 13px;
    line-height: 19px;
  }
}

@media (min-width: 481px) and (max-width: 680px) {
  .profile-header {
    padding: 80px 40px;
  }

  .profile-header h1 {
    width: 100%;
  }

  .profile-header p {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 481px) {
  .profile-header {
    padding: 40px 16px;
  }

  .profile-header h1 {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
  }

  .profile-header p {
    font-size: 13px;
    line-height: 19px;
  }
}

@media (max-width: 1439px) {
  .profile-header-xl-dots {
    display: none;
  }
}

@media (max-width: 1023px) {
  .profile-header-l-dots {
    display: none;
  }
}

@media (min-width: 1440px) {
  .profile-header-l-dots {
    display: none;
  }

  .profile {
    width: 15%;
  }
}

@media (max-width: 680px) {
  .line {
    display: none;
  }
}