.faq {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 80px auto;
  color: #241D16;
}

.faq-title {
  font-family: Literata;
  font-size: 39px;
  font-style: normal;
  font-weight: 300;
  line-height: 47px;
  letter-spacing: -0.2px;
  margin-bottom: 48px;
}

.faq-item {
  border-top: 2px solid #241D16;
  padding: 16px 0px;
  flex: 1;
  width: 100%;
}

.faq .faq-item:last-child {
  border-bottom: 2px solid #241D16;
}

.faq-icon {
  justify-content: center;
  height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.85;

  a {
    color: #241D16;
    font-weight: 700;
  }
}

.faq-answer.open {
  max-height: 500px;
  padding-top: 8px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .faq {
    width: unset;
    margin: 80px 120px;
  }

  .faq-title {
    margin-bottom: 40px;
  }
}

@media (max-width: 1023px) {
  .faq-title {
    margin-bottom: 16px;
    line-height: 30px;
  }

  .faq-question {
    font-size: 16px;
    line-height: 11px;
  }
}

@media (min-width: 681px) and (max-width: 1023px) {
  .faq {
    width: unset;
    margin: 24px;
  }

  .faq-title {
    font-size: 20px;
  }
}

@media (max-width: 680px) {
  .faq {
    width: unset;
    margin: 24px 16px;
  }

  .faq-title {
    font-size: 20px;
  }

  .faq-question {
    line-height: 24px;
    gap: 16px;
  }
}