footer {
    display: flex;
    width: 100%;
    padding: 16px 24px;
    background-color: #DDD8D4;
    justify-content: space-between;
    align-items: center;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}