nav {
  background-color: #F3EFEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 16px;
  color: #181D20;
  padding: 16px 24px;
  font-family: 'Satoshi', sans-serif;
}